@import url('https://fonts.googleapis.com/css2?family=Monument+Extended:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

body {
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #FFFFFF;
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

@font-face {
  font-family: 'Monument Extended';
  src: url('fonts/MonumentExtended-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'Monument Extended', sans-serif;
  text-transform: uppercase;
  margin: 20px 0;
}

p, input, button {
  font-family: 'Space Mono', monospace;
}

#about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
  padding: 20px;
  max-width: 1200px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  gap: 20px;
}

.about-image {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.about-text {
  flex: 2;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text h2 {
  font-family: 'Monument Extended', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.about-text p {
  font-family: 'Space Mono', monospace;
  font-size: 1.4rem;
  line-height: 1.5;
}

#search-bar {
  text-align: center;
  margin: 40px auto;
}

.search input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #323231;
  border: 1px solid #8C181D;
  font-family: 'Space Mono', monospace;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #8C181D;
  border: none;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
}

.search button:hover {
  background-color: #3E4144;
}

.blog-section {
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.blog-post {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: black;
}

.blog-image-container {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
  text-align: center;
}

.read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8C181D;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  border: none;
}

.read-more:hover {
  background-color: #3E4144;
}

.extra-content {
  display: none;
  margin-top: 10px;
}

.extra-content.visible {
  display: block;
  margin-bottom: 10px;
}

#join-now {
  text-align: center;
  margin: 40px auto;
}

#join-now p {
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}

.join-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #8C181D;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
  margin-top: 10px;
}

.join-button:hover {
  background-color: #3E4144;
}

@media (max-width: 768px) {
  #about-us {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .about-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .about-text {
    text-align: center;
  }

  .about-text h2 {
    font-size: 1.8rem;
  }

  .about-text p {
    font-size: 1.2rem;
  }

  .search input {
    width: 90%;
  }

  .search button {
    width: 90%;
    margin-top: 10px;
  }

  .blog-container {
    grid-template-columns: 1fr;
  }
}
